body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0 0 0 / 20%);
  /*background-image: linear-gradient(to right top, #38438b, #944b94, #d75a88, #ff7e71, #ffb25f, #ffeb68);*/
  background-image: -webkit-gradient(linear, left bottom, right top, from(#E6F4F1), color-stop(#94ABE0), color-stop(#E6F4F0), color-stop(#F6F9FF), to(#1E87F0));
  background-image: -webkit-linear-gradient(to right top, #E6F4F1, #94ABE0, #E6F4F0,  #F6F9FF, #1E87F0);
  background-image: -o-linear-gradient(to right top, #E6F4F1, #94ABE0, #E6F4F0,  #F6F9FF, #1E87F0);
  background-image: linear-gradient(to right top, #E6F4F1, #94ABE0, #E6F4F0,  #F6F9FF, #1E87F0);
}
.container {
  display: flex !important;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  flex-direction: column;
}
.general-container {
  display: none !important;
}
.general-container.visible {
  display: flex !important;
}
.form-wrapper {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-wrapper::after {
  content: "";
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}
.form {
  min-width: 500px;
  z-index: 2;
  text-align: center;
  color: #fff !important;
  margin-bottom: 40px !important;
  &__input {
    border: 2px solid #fff !important;
  }
  .uk-search-input {
    color: black;
    padding: 10px;
    height: auto;
    margin-bottom: 20px;
    background: #fff !important;
  }
  &__radio {
    display: flex;
    justify-content: space-between;
  }
  .uk-radio {
    margin-right: 5px;
  }
  .uk-radio:checked {
    background-color: #213040;
  }
  .uk-radio:selection {
    background-color:  #213040;
  }
  &__button {
    color: #fff;
    background-color: #213040;
  }
  &__button:hover {
    background-color: #1e87f0;
  }
  .uk-heading-line {
    color: #fff;
  }
  .main-img {
    width: 150px;
  }
}
.uk-card .uk-card-body .favorite_movie:after {
  content: "\2764";
  color:#213040;
  cursor: pointer;
}
.uk-card .uk-card-body .favorite_movie:hover:after, .uk-card .uk-card-body .favorite_movie.active_add:after {
  color: #39f;
}
#cardMovie {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.uk-pagination li a {
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
}
.uk-pagination li span {
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
}
.uk-pagination>.uk-active>* {
  color: #1c61ac !important;
}
.uk-pagination a:hover {
  color: #39f !important;
}
.favorite_btn, .form__button {
  color: #fff !important;
  background-color: #213040 !important;
}
.favorite_btn:hover, .form__button:hover {
  background-color: #1e87f0 !important;
}

#cardHotel {
  max-width: 100%;
  overflow: hidden;
}

.uk-fieldset {
  text-align: left;
}
.uk-fieldset .uk-form-label {
  color: #fff;
}

.back-to-list-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#loading-full {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}

.slick-slide {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  img {
    display: block;
    position: relative;
    width: 100%;
    height: fit-content;
  }
}

@for $i from 1 through 11 {
  .bg#{$i} {
    background-image: url(../img/bg#{$i}.jpg);
  }
}
